.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: auto;
}

.container__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.3125rem;
  margin: 1.25rem;
}

.card {
  flex: 1 0 16rem;
  margin: 0.625rem;
  overflow: hidden;
  border: 2px solid #ffffff;
}

.card__image {
  display: block;
  height: 21.875rem;
  filter: grayscale(100%);
  background-size: cover;
  box-shadow: 0.3rem 0.4rem 0.4rem rgb(0 0 0 / 40%);
  transition: transform 500ms ease-in;
}

.card__image:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
